<div data-role="view" data-title="View" data-layout="main" data-model="app.homeView" data-show="app.homeView.onShow" data-after-show="app.homeView.afterShow" id="homeViewScreen" class="screen">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <span data-bind="text: strings.homeView.title"></span>
        </div>
    </header>
    <!-- START_CUSTOM_CODE_homeView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <!-- END_CUSTOM_CODE_homeView -->
    <h2 class="topStocksHeader">Top stocks gone up by <span data-bind="text: homeViewModel.percentageChange"></span> in last <span data-bind="text: homeViewModel.days"></span> days</h2>
    <ul class="masterDetailView list  " data-role="listview" data-auto-bind="false" data-style="inset" data-template="homeViewModelTemplate" data-bind="source: homeViewModel.dataSource, events: {click: homeViewModel.itemClick}" data-pull-to-refresh="true"
        data-endless-scroll="false"></ul>
    <!-- START_CUSTOM_CODE_homeViewModel -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <!-- END_CUSTOM_CODE_homeViewModel -->
    <script type="text/x-kendo-template" id="homeViewModelTemplate">
        <div class="image-with-text ">
            # data = app.homeView.homeViewModel.fixHierarchicalData(data); #
            <div class="row">
                <div class="column">
                    <span class="#: data.icon() # topStockIcon"></span>
                </div>
                <div class="column topStockStockSection">
                    <h4 class="topStockHeaderMargin">#: data['StockName'] #</h4>
                </div>
                <div class="column">
                    <h4 class="topStockHeaderMargin">&nbsp;</h4>
                </div>
                <div class="column topStockStockSymbol">
                    <h4><span class="stockSymbol">(#: data['StockSymbol'] #)</span></h4>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <span class="topStockIcon">&nbsp;</span>
                </div>
                <div class="column topStockStockSection">
                    <div id="topStockDescription" class="km-label-above field field--text-block">
                        <!--        <span class="field__label" data-bind="text: strings.homeView.homeViewModel.editableListForm18.percentageChange.title"></span>-->
                        <div class="row">
                            <div id="latestValueField" class="column">
                                <div class="textBlock field__content">Closed @ £#= kendo.toString(data['LatestValue'],"n2") #</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div id="topStockDescription" class="km-label-above field field--text-block">
                        <!--        <span class="field__label" data-bind="text: strings.homeView.homeViewModel.editableListForm18.percentageChange.title"></span>-->
                        <div class="row">
                            <div id="percentageChangeField" class="column">
                                <div class="textBlock field__content">#= kendo.toString(data['PercentageChange'], "n2") #%</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column topStockStockSymbol">
                    <div>
                        <span class="#: data.getStockArrowSymbol(data['PercentageChange']) #"></span>
                    </div>
                </div>
            </div>
        </div>
    </script>
</div> 