<div data-role="view" data-title="Details" data-model="app.topStockCriteria.topStockCriteriaModel" data-bind="events: { show: detailsShow }" id="topStockCriteriaModelScreen" class="screen screen--detail">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <a data-role="backbutton" data-align="left">Back</a>
            <span data-bind="text: strings.topStockCriteria.topStockCriteriaModel.detailHeaderFieldValue"></span>
            <a data-role="button" class="nav-button" data-align="right" data-bind="events: { click: deleteClick }"><i class="km-icon km-delete"></i></a>
        </div>
    </header>

    <div class="details-content screen__content screen__content--details">
        <div class="km-listview-wrapper">
            <ul class="km-listview km-list km-listinset details-fields">


            </ul>
        </div>
    </div>
    <!-- START_CUSTOM_CODE_topStockCriteriaModel -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_topStockCriteriaModel -->
</div>