<div data-role="view" data-title="View" data-layout="main-nonav" data-model="app.home" data-show="app.home.onShow" data-after-show="app.home.afterShow" id="termsAndConditionsScreen" class="screen">
<header data-role="header">
        <div data-role="navbar" class="header-text">
            <a data-role="backbutton" data-align="left">Back</a>
        </div>
    </header>
    <div class="details-content screen__content screen__content--details">  
<h1>&nbsp;&nbsp;&nbsp;App Privacy Policy</h1>
        <div class="km-content">  
<ul class="km-widget km-listview km-list km-listinset borderLess">
<li>
<h2>Our Commitment to Privacy</h2>
<p>
We believe that the responsible use of personal information collected on our websites is critical
to our business objectives and reputation. As part of our commitment to privacy, we have
adopted this Privacy Statement. The extent and type of information we receive from you on our
external websites and apps depends on the information you provide to us through any
registration processes on our sites.
</p>
</li>
<li>
<h2>Use of Information</h2>
<p>
We only use your personally identifiable information to respond to your requests and to provide
you with information about Topstocks services, but may also use it to provide you with marketing
material Topstocks services, unless you opt out of receiving this information. We also use
personal information for the purposes of providing our services to clients, maintaining client
relationships (such as informing our clients and prospective clients of new and additional
services that may be of interest to them) and for our other related business activities.
</p>
</li>
<li>
<h2>Collecting Information</h2>
<p>
Some of our websites or apps may invite you to contact us or to provide information about
yourself. We use the information you provide to personalize your online experience and to deliver
the content most suited to your needs.
<br/>
In addition, &quot;cookies&quot; (i.e. small text files placed on your computer when you first visit the site)
are used on some of our websites and apps. Most browsers now recognize when a cookie is
offered and permit you to refuse or accept it. If you are not sure whether your browser has this
capability, you should check with the software manufacturer, your company&#39;s technology help
desk or your Internet service provider.
<br/>
Cookies are primarily used to enhance your online experience and are not used to track the
navigational habits of identified visitors, unless we obtain your permission to do so. If you visit our
sites or app to read or download information, such as news stories or articles, much of the
information we do collect is statistical only (e.g., the domain from which you access the Internet,
the date and time you access our site, and the Internet address of the website from which you
linked directly to our site) and not personally identifiable. We use this information about the
number of visitors and their use of the sites in aggregate form to make our sites more useful and
attractive to you.
<br/>
We use the cookie information to compile reports and to help us improve the site, these cookies
collect information in an anonymous form, including numbers of visitors, the pages visited and
where visitors have come to the site from.
</p>
</li>
<li>
<h2>Sharing Information</h2>
<p>
The personal information you provide to us will be retained only for as long as necessary to ​fulfill
the purposes for which the information was collected or as required by law. We do not share
personal information with third parties except as necessary to carry out our business or your
request or as required by law or other legal processes, and we never sell your personal
information. Furthermore, personal data collected by Topstocks may be transferred to our
subsidiaries or affiliated companies where it is necessary to carry out our business or to meet the
purpose for which you have submitted the information. By submitting data through Topstocks
electronically, you are providing explicit consent to trans-border transmission of data collected via
our websites and app
</p>
</li>
<li>
<h2>Safeguarding Information</h2>
<p>
In addition, we have technological and operational security policies and procedures in place to
protect your personally identifiable information from loss, misuse, alteration or unintentional
destruction. Our personnel who have access to the data have been trained to maintain the
confidentiality of such information.<br/>
TopStocks recognizes its responsibility for protecting the online privacy of your personal
information. If you have questions or comments about our administration of your personal
information, or would like to opt out of receiving any marketing material from us, please contact
us at info@topstocks.com. You may also use this address to communicate any concerns you
may have regarding compliance with this Privacy Policy.<br/>
By accepting this terms and conditions, you indicate your acceptance of this Privacy Policy and
that you agree that we can place the types of cookies described above on your device.
</p>
</li>
<li>
<h2>App title and description</h2>
<p>
TopStocks – An app to provide you periodic price performance of multiple stocks<br/>
Full description and purpose- All the current market products generate individual stock
performance. As sophisticated investor/passive investor if you like to find out a group of stocks
have gone up or down by a percentage so that you can research individual stocks within the
group and pick the right one there isn’t a product that can do that. TopStocks can present stocks
grouped by percentage rise or fall for a predefined time range of day, week , month or year..
</p>
</li>
</ul>
</div>
</div>
</div>