<div data-role="view" data-title="View" data-layout="main-nonav" data-model="app.home" data-show="app.home.onShow" data-after-show="app.home.afterShow" id="termsAndConditionsScreen" class="screen">
<header data-role="header">
        <div data-role="navbar" class="header-text">
            <a data-role="backbutton" data-align="left">Back</a>
        </div>
    </header>
    <div class="details-content screen__content screen__content--details">  
<h1>&nbsp;&nbsp;&nbsp;App Terms and Conditions</h1>
        <div class="km-content">  
<ul class="km-widget km-listview km-list km-listinset borderLess">
<li>
<p>
1. Welcome to our mobile application Topstocks providing you periodic price performance of
multiple stocks (the “App“). This App is published by EWallet Solutions limited and Viz
Solutions limited (“We” or “Us“) a company registered in England and Wales under company
number 05264830 &amp; 08000539 respectively whose registered office at 15 Frimley drive,
Slough SL1 5FL and 7 Slate House 11 Keymer Place, St Anne Street, London E14 7 QZ
respectively.<br/>
By downloading or otherwise accessing the App you agree to be bound by the following
terms and conditions (“Terms“) and our PRIVACY POLICY and COOKIES POLICY. If you
have any queries about the App or these Terms, you can contact Us
info@vizsolutions.co.uk. If you do not agree with these Terms, you should stop using the
App immediately.
</p>
</li>
<li>
<p>
2. PURPOSE/LIMITS IN USE: This App is provided to guide sophisticated investor to find
stocks that have gone up or down by certain percentage, present them the stock price end of
day data in a format which provides accessibility and ease of use for the user so that the user
can research those stocks and pick the right one of their choice. The App allows you to view
and access [forms of financial data] in a particular format solely for general information
purposes. The App is not intended to address any particular requirement. We do not offer
any form of guarantee as to the accuracy of any of the data or financial information
presented in the App. Any financial data presented in the App is not in real time and should
not, in any event, be relied upon as current stock levels or trading prices. The App does not
constitute any form of financial or investment advice of any kind and you must not regard
any information, data or any other form of content on the App as any form of advice or
recommendation for you to offer to buy, sell or otherwise deal in any way. Any decision you
make to enter into any form of transaction, investment or otherwise deal, must be done on
the basis of your own independent research and judgment and/or with assistance from a
professional tax, financial or investment advisor.<br/>
The App is made available for your own, personal use. The App must not be used for any
commercial purpose whatsoever or for any illegal or unauthorised purpose. The App is
intended for use by users resident in the UK only.
</p>
</li>
<li>
<p>3. DISCLAIMER / LIABILITY: USE OF THE APP IS AT YOUR OWN RISK. THE APP IS
PROVIDED ON AN “AS IS” BASIS. TO THE MAXIMUM EXTENT PERMITTED BY LAW:
(A) WE DISCLAIM ALL LIABILITY WHATSOEVER, WHETHER ARISING IN CONTRACT,
TORT (INCLUDING NEGLIGENCE) OR OTHERWISE IN RELATION TO THE APP; AND
(B) ALL IMPLIED WARRANTIES, TERMS AND CONDITIONS RELATING TO THE APP
(WHETHER IMPLIED BY STATUE, COMMON LAW OR OTHERWISE), INCLUDING
(WITHOUT LIMITATION) ANY WARRANTY, TERM OR CONDITION AS TO ACCURACY,
COMPLETENESS, SATISFACTORY QUALITY, PERFORMANCE, FITNESS FOR
PURPOSE OR ANY SPECIAL PURPOSE, AVAILABILITY, NON INFRINGEMENT,
INFORMATION ACCURACY, QUIET ENJOYMENT AND TITLE ARE, HEREBY
EXCLUDED. YOUR STATUTORY RIGHTS ARE NOT AFFECTED.
<br/>
We will not be liable, in contract, tort (including, without limitation, negligence), under statute
or otherwise, as a result of or in connection with the App, for any: (i) economic loss
(including, without limitation, loss of revenues, profits, contracts, business or anticipated
savings); or (ii) loss of goodwill or reputation; or (iii) special or indirect or consequential loss.
<br/>
Nothing in these Terms shall be construed as excluding or limiting the liability of Our or Our
group companies for death or personal injury caused by its negligence or for any other
liability which cannot be excluded by English law.
</p>
</li>
<li>
<p>
4. INTELLECTUAL PROPERTY: This App and all intellectual property rights in it, including
but not limited to, any content, the selection and arrangement of the content, organisation,
compilation, look and feel and all source code, metadata and other material or data, are
owned by or licensed to Us or Our group companies. Intellectual property rights means
rights such as: copyright, trade marks, domain names, design rights, database rights,
patents and all other intellectual property rights of any kind whether or not they are
registered or unregistered (anywhere in the world). We [and Our licensors (as relevant)]
reserve all of Our [and their] rights in any intellectual property in or forming part of the App
and in connection with these Terms. This means, for example, that We [and they] remain
owners of them and free to use them as We [and they] see fit.
<br/>
You can view, print or download extracts of any material or content presented on the App for
your own personal use but you cannot otherwise copy, edit, vary, reproduce, publish,
display, distribute, store, transmit, commercially exploit, disseminate in any form whatsoever
or use such material or content without Our express permission.
<br/>
The trade marks, service marks, and logos (“Trade Marks“) contained on or in the App are
owned by Us or Our group companies [or third party partners]. You cannot use, copy, edit,
vary, reproduce, publish, display, distribute, store, transmit, commercially exploit or
disseminate the Trade Marks without the prior written consent of Us or Our relevant group
company or relevant third party partner.
</p>
</li>
<li>
<p>
5. LINK TO THIRD PARTIES: The App may contain links to websites operated by third
parties (“Third Party Websites“). We do not have any influence or control over any such
Third Party Websites and, unless otherwise stated, We are not responsible for and do not
endorse any Third Party Websites or their availability or contents.    
</p>
</li>
<li>
<p>
6. PRIVACY POLICY: We will only use your personal information in accordance with the
terms of our PRIVACY POLICY and COOKIES POLICY. By using the App you
acknowledge and agree that you have read and accept the terms of our PRIVACY POLICY
and COOKIES POLICY and these Terms.   
</p>
</li>
<li>
7. GENERAL: These Terms (as amended from time to time) constitute the entire agreement
between you and Us concerning your use of the App.
<br/>
We reserve the right to update these Terms from time to time.
<br/>
These Terms shall be governed by and construed in accordance with English law and you
agree to submit to the exclusive jurisdiction of the English Courts.
<br/>
If any provision(s) of these Terms is held by a court of competent jurisdiction to be invalid or
unenforceable, then such provision(s) shall be construed, as nearly as possible, to reflect the
intentions of the parties (as reflected in the provision(s)) and all other provisions shall remain
in full force and effect.
<br/>
Our failure to exercise or enforce any right or provision of these Terms shall not constitute a
waiver of such right or provision unless acknowledged and agreed to by Us in writing.
<br/>
Unless otherwise expressly stated, nothing in the Terms shall create any rights or any other
benefits whether pursuant to the Contracts (Rights of Third Parties) Act 1999 or otherwise in
favour of any person other than you, Us and Our group of companies.
</li>
</ul>
</div>
</div>
</div>